# 대회 데이터 제외
open/data/

# 로컬에서 생성되는 임시 및 결과 가중치 제외
open/temp/
submit/model/


# 파이썬 캐시 파일 제외
__pycache__/
*.pyc

# venv
.venv

# 잡다한거 제외
EXPERIMENTS.md
CLAUDE.md

# 모델
open/former_model

# 세션 스크래치패드
scratchpad/
submit_*.zip
